version: "3.3"

services:
  postgres:
    image: postgres:13
    env_file:
      - .env
    ports:
      - 5434:5432
    volumes:
      - _postgres_data:/var/lib/postgresql/data
    restart: on-failure:3
    networks:
      - pgadmin
      - back

  pgadmin:
    image: dpage/pgadmin4
    env_file:
      - .env
    ports:
      - "5050:80"
    volumes:
       - pgadmin:/var/lib/pgadmin
    depends_on:
      - postgres
    restart: on-failure:3
    networks:
      - postgres

  back:
    build: .
    env_file:
      - .env
    ports:
      - "8000:8000"
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    depends_on:
      - postgres
    restart: on-failure:3
    networks:
      - postgres

networks:
  postgres:
  pgadmin:
  back:

volumes:
  _postgres_data:
  pgadmin:
