{% extends 'base.html' %}


{% load static %}


{% block head %}
{% endblock %}


{% block title %}
PERSONE VIEW
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-6">
        <table class="table table-sm">
            <tbody>
                <tr><td>First Name</td><td>{{ persone.firstname }}</td></tr>
                <tr><td>Last Name</td><td>{{ persone.lastname }}</td></tr>
                <tr><td>Telephone</td><td>{{ persone.telephone }}</td></tr>
                <tr><td>Email</td><td>{{ persone.email }}</td></tr>
                <tr><td>Old</td><td>{{ persone.old }}</td></tr>
                <tr><td>Male</td><td>{{ persone.get_male }}</td></tr>
                <tr><td>Address</td><td>{{ persone.adres }}</td></tr>
                <tr><td>IMEI device</td><td>{{ persone.imei }}</td></tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <form action="{% url 'upload_pcap' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                <label class="form-label" for="imageCustomFile">Upload PCAP</label>
                <input type="hidden" name="pk" value="{{ persone.pk }}">
                <input name="files" required="" type="file" class="form-control" id="PCAPFile" multiple>
            </div>

            <button class="btn btn-outline-dark" type="submit">Upload PCAP's</button>
        </form>
        <hr>

        <div class="mb-3">
            <label class="form-label" for="imageCustomFile">Select interface</label>
            <input name="stream" required="" type="search" class="form-control" id="PCAPFile" multiple>
        </div>

        <button class="btn btn-outline-dark" type="">Start Stream</button>
    </div>
</div>
<br><br><br>

{% for package in packages  %}
<br>
<div class="card col-md-6">
    <div class="card-header">
        <table class="table table-md">
            <thead class="pb-0">
                <tr>
                    <th>{{ package.csv.filename }}</th>
                    <th>{{ package.get_favorite_type }}</th>
                    <th>
                        <form action="{% url 'package_delete' %}" method="POST">
                            {% csrf_token %}
                            <input type="text" hidden value="{{ persone.pk }}" name="persone">
                            <input type="text" hidden value="{{ package.pk }}" name="package">
                            <button class="btn" type="submit">
                                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                </svg>
                            </button>
                        </form>
                    </th>
                    <th><a class="btn btn-sm btn-outline-success" download="/media/upload/{{ package.csv.file }}" href="/media/upload/{{ package.csv.file }}">csv</a></th>
                    <th><a class="btn btn-sm btn-primary" href="{% url 'analysis' package.pk %}">Analysis</a></th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="card-body">
        <table class="table table-md" style="width: max-content;">
            <tbody>
                {% for pcap in package.pcaps.all %}
                <tr>
                    <th>{{ pcap.filename }} <span class="px-5"></span></th>
                    <th><a class="btn btn-sm btn-success" download="/media/{{ pcap.file }}" href="/media/{{ pcap.file }}">Download</a></th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endfor %}

{% endblock %}
