{% extends 'base.html' %}


{% load static %}


{% block head %}
{% endblock %}


{% block title %}
PERSONE VIEW
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-sm-6">
        <table class="table table-sm">
            <tbody>
                <tr><td>First Name</td><td>{{ persone.firstname }}</td></tr>
                <tr><td>Last Name</td><td>{{ persone.lastname }}</td></tr>
                <tr><td>Telephone</td><td>{{ persone.telephone }}</td></tr>
                <tr><td>Email</td><td>{{ persone.email }}</td></tr>
                <tr><td>Old</td><td>{{ persone.old }}</td></tr>
                <tr><td>Male</td><td>{{ persone.get_male }}</td></tr>
                <tr><td>Address</td><td>{{ persone.adres }}</td></tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-6">
        <form action="{% url 'upload_pcap' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                <label class="form-label" for="imageCustomFile">Upload PCAP</label>
                <input type="hidden" name="pk" value="{{ persone.pk }}">
                <input name="files" required="" type="file" class="form-control" id="PCAPFile" multiple>
            </div>

            <button class="btn btn-outline-dark" type="submit">Upload PCAP's</button>
        </form>
    </div>
</div>
<br><br><br>

<div class="card">
    <div class="card-header">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>
                        <a href="#pk">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                            </svg>
                        </a>
                    </th>
                    <th><a class="btn btn-sm btn-outline-success" href="">csv</a></th>
                    <th><a class="btn btn-primary href="">Analityc</a></th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="card-body">
        <table class="table table-sm">
            <tbody>
                <tr>
                    <th>filename</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>
                        <a href="#pk">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                            </svg>
                        </a>
                    </th>
                    <th><a class="btn btn-sm btn-outline-success" href="">csv</a></th>
                    <th><a class="btn btn-primary href="">Analityc</a></th>
                </tr>
            </tbody>
        </table>
    </div>
</div>


{% endblock %}
